<body>
  <link rel="stylesheet" href="/stylesheets/product1.css" />
  <header>
    <h1>Product Details</h1>
  </header>

  <div class="product-container">
    <h1>{{productName}}</h1>
    <p>Price: ${{productPrice}}</p>
    <img src="{{productImage}}" alt="{{productName}} Image" />

    <button onclick="addToCart()">Add to Cart</button>
  </div>
</body>