<body>
  <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
  <script src="/javascripts/submitForm.js"></script>
  <link rel="stylesheet" href="/stylesheets/register.css" />
  <div class="registration-form">
    <h1 class="head">Registration <span> Form</span></h1>
    <form action="" method="post">
      <div class="form-group">
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required />
      </div>

      <div class="form-group">
        <label for="username">Username:</label>
        <input type="text" id="name" name="name" required />
      </div>

      <div class="form-group">
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required />
      </div>

      <button type="submit" class="submit-btn">Submit</button>
    </form>
  </div>
</body>